body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  color: #000000;
  background: white;
  text-transform: uppercase;

  background-color: #ffffff;
}



img{
  max-width: 100%;
  height; auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"] .visually-hidden,input[type="radio"] .visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: no-wrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.header {
  padding: 50px 0;
  background-color: #eeeeee;
}

.slider {
  position: relative;
  width: 880px;
  height: 310px;
  margin: 0 auto;
  border: 1px dotted black;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: 100px;
  text-align: center;
  border: 1px dotted green;
  z-index: 1000;
}

.slider-controls i {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background-color: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .active {
  background-color: 2d2d2d;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 0, 0.1);
}

.slide-text {
  width: 300px;
  padding: 30px 0;
  color: #283136;
}

.slide-title {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: black;
}

.slide .btn {
  display: block;
  width: 240px;
  padding: 10px 0;
  margin-top: 25px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
}

.slide:nth-child(1) {
  background-image: url("img/slider-bg.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide {
  display: none;
}

.slide:nth-child(2) {
  display: block;
}

.slide:nth-child(3) {
  background-image: url("img/slider-bg-3.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 18px 40px;
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
        background-color: #fb565a;
        opacty: 1;
}

.button .disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.main-navigation {
     font-size: 16px;
     line-height: 24px;
     color: #000000;

     background-color: #ffffff;
     border: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
}

.user-navigation {
  display: flex;
  max-width: 150px;
}

.site-navigation,
.user-navigation {
        list-style: none;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;
      color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
       background-color: #242424;
}

user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 27px;
  left: 24px;
  width: 15px;
  margin: 0 auto;
  height: 15px;

  background-image: url("img/cart-icon.png") no-repeat 0 0;

  opacity: 0.3;
}

.conteiner .button a {
     color: ffffff;

     background: #fb565a;
     background-position: 0 0;

}

.conteiner .button a:hover,
.conteiner .button a:focus {
      color: ffffff;
}



.visually-hidden h1 {
      font-size: 55px;
      line-height: 55px;
}

.index-columns-1 {
  height: 148px;
  margin: 0;
     color: #000000;

     background-color: #fb565a;
     background-image: url("img/illustration-1.png");
     background-position: 0 0;
     background-repeat: repeat;
     margin-bottom: 25px;
}

index-columns-1 img {
  width: 300px;
  height: 148px;
}

.index-button {
  box-sizing: border-box;
  width: 160px;
}

.index-container-1 {
  width: 300px;
  height: 350px;
}


.index-columns-2 {
     color: #000000;

     background-color: #00ca74;
     background-image: url("img/illustration-2.png");
     background-position: 0 0;
     background-repeat: repeat;
     margin-bottom: 25px;
}

.index-columns-3 {
     color: #000000;

     background-color: #efc849;
     background-image: url("img/illustration-3.png");
     background-position: 0 0;
     background-repeat: repeat;
     margin-bottom: 25px;
}


.index-columns h3 {
       font-size: 24px;
       line-height: 30px;
}

.info-1 h2 {
      font-size: 45px;
      line-height: 45px;
}

.order-list h3 {
     font-size: 16px;
     line-height: 24px;
}

.order {
      color: #9b9fa1;

      background-color: #ffffff;
      background-position: 0 0;
}

.slogan h3 {
      font-size: 16px;
      line-height: 24px;
}

.quality-item {
      color: #000000;
      list-style: none;

      background-color: #ffffff;
      background-position: 0 0;
}

.examples-brand {
      color: #cccccc;

      background-color: #ffffff;
      background-image: url("img/index-logo.svg");
      background-position: 0 0;
      background-repeat: repeat;
}

.examples-brand a {
      color: #cccccc;
}

.examples-brand a:hover,
.examples-brand a:focus,
.examples-brand a:active {
     background-color: #01a25e;
}

.contacts h3 {
     font-size: 18px;
     line-height: 30px;
}

.contacts .button a {
       color: #ffffff;

       background-color: #fb565a;
       background-position: 0 0;
}

.contacts .button a:hover,
.contacts .button a:focus {
      color: #ffffff;
}

.main-footer {
    color: #000000;

    background-color: #ffffff;
    background-image: url("img/map.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.main-footer h1 {
      font-size: 36px;
      line-height: 36px;
}

.footer-social a {
      color: #000000;
      text-decoration: none;
}

.social-button a:hover,
.social-button a:focus,
.social-button a:active {
       text-decoration: none;
}

.social-button :hover path,
.social-button :focus path,
.social-button :active {
  fill: #000000;
}

.footer-social {
      text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  margin: 0 auto;
  padding: 0;
      list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 80px;
      color: e1e1e1;

      background-color: #000000;
}




body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  background-color: white;
  text-transform: uppercase;

  background-color: #ffffff;
}

.inner-page {
     color: #000000;

     background-color: #ffffff;
     background-image: url("img/index-logo.svg");
     background-position: 0 0;
     background-repeat: repeat;
}

a {
    text-decoration: none;
}

.conteiner {
    list-style: none;
}

.conteiner h1 {
     font-size: 55px;
     line-height: 55px;
}

.price h3 {
     font-size: 18px;
     line-height: 30px;
}

.range-filter {
  width: 240px;
  margin: 50px auto;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 20px;
  background-color: f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background-color: #00ca74;
}

.range-controls .taggle {
  position: absolute;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background-color: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  border: none;
  background-color: #f1f1f1;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #283136;
  border-radius: 5px;
}

.price-controls .min-price {
  margin-right: 14px;
}

.price-controls {
  white-space: nowrap;
}

.range-controls .max-taggle {
  left: 145px;
}


.index-column {
    color: #ababab;

    background-color: #ffffff;
    background-position: 0 0;
    background-repeat: repeat;
}

.netting h2 {
     font-size: 18px;
     line-height: 30px;
}

.button-adopt a:hover,
.button-fix a:focus,
.button-rubber a:active {
       color: #45bb89;
}

.sorting h2 {
    font-size: 18px;
    line-height: 18px;
}

.item-navigation a:hover,
.item-navigation a:focus,
.item-navigation a:active {
      color: #a6a6a6;
}

.veb-product {
     list-style: none;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
         color: #000000;

         background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
          background-color: #01a25e;
}

.pagination-item-current a {
       color: #000000;

       background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
          color: #000000;

          background-color: #ffffff;
}

.contacts h3 {
     font-size: 18px;
     line-height: 30px;
}

.contacts .button a {
       color: #ffffff;

       background-color: #fb565a;
       background-position: 0 0;
}

.contacts .button a:hover,
.contacts .button a:focus {
      color: #ffffff;
}

.main-footer {
    color: #000000;

    background-color: #ffffff;
    background-image: url("img/map.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.main-footer h1 {
      font-size: 36px;
      line-height: 36px;
}

.footer-social a {
      color: #000000;
      text-decoration: none;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
       text-decoration: none;
}

.footer-social {
      text-align: center;
}

.footer-social ul {
      list-style: none;
}

.social-button {
      color: e1e1e1;
}






/*-----Сеточные стили-----*/

html,
body {
min-width: 1122px;
min-height: 150px;
}

body {
  /* Временно для сетки */
background-size: 1372px auto;
background-repeat: no-repeat;
}

.container {
     width: 1200px;
     margin: 0 auto;
     padding: 0 20px;
}

.main-header {
     margin-bottom: 75px;

     /* Временно для сетки */
     min-height: 123px;
}

.inner-page .main-header {
      margin-bottom: 70px;

      background-color: #ffffff;

      /* Временно для сетки */
      min-height: 72px;
      background-color: transparent;

}

.main-navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
     /* Временно для сетки */

     min-height: 123px;
     background-color: transparent;
}

.inner-page .main-navigation {
     align-items: flex-start;
     flex-direction: row;

  /* Временно для сетки */
    min-height: 35px;

}

.main-header-logo {
     order: 2;
     width: 160px;
     height: 70px;

      /* Временно для сетки */
    /*  display: block; */
}

.inner-page .main-header-logo {
      order: 0;
      width: 160px;
      height: 70px;
      padding: 40px 20px;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 32px;

    background-color: #939393;

     /* Временно для сетки */
     min-height: 70px;
     background-color: transparent;
}

.main-navigation-wrapper .container {
     display: flex;
     justify-content: space-between;
}

.site-navigation {
    width: 600px;
    margin: 0;
    padding: 0;

    list-style: none;

     /* Временно для сетки */
     min-height: 70px;
}

.user-navigation {
     width: 180px;
     margin: 0;
     padding: 0;

     list-style: none;

      /* Временно для сетки */
      min-height: 70px;
}

.inner-page .user-navigation {
      margin-left: auto;
}

.inner-page .container-wrapper-3 {
       display: flex;
       justify-content: space-between;
       width: 1160px;
       margin: 0;
       padding: 0 20px;

       list-style: none;
}

.price {
     width: 260px;
     margin: 0;
     padding: 0 20px;

  /* Временно для сетки */
      min-height: 132px;
}

.netting {
     width: 160px;
     margin: 0;
     padding: 0 20px;

     /* Временно для сетки */
     min-height: 139px;
}

.features {
  width: 180px;
  margin: 0;
  padding: 0 20px;

  /* Временно для сетки */
  min-height: 220px;
}

.sorting {
  width: 360px;
  margin: 0;
  padding: 0 20px;

  /* Временно для сетки */
  min-height: 1994px;
}

.veb-product {
  width: 360px;
  margin: 0;
  margin-bottom: 35px;
  padding: 0 20px;

  /* Временно для сетки */
  min-height: 1994px;
}

.pagination-list {
     padding: 0;
     margin: 0;

     list-style: none;

    /* Временно для сетки */
    min-height: 50px;
}

.services-list {
      display:flex;
      justify-content: space-between;
     margin: 0;
     padding: 0;

     list-style: none;

    /* Временно для сетки */
    min-height: 146px;
}

.services-item {
      width: 300px;

      /* Временно для сетки */
      min-height: 146x;
}

.conteiner-wrapper-1 {
      display: flex;
      justify-content: space-between;
      width: 600px;
      margin: 0;
      padding: 0 20px;

      /* Временно для сетки */
      min-height: 370px;
}

.order {
     width: 430px;
     margin: 0;
     padding: 0;

     /* Временно для сетки */
     min-height: 162px;
}

.quality-item {
     width: 360px;
     margin: 0;
     padding: 0 20px;

     /* Временно для сетки */
     min-height: 162px;
}

.examples {
      display: flex;
      justify-content: space-between;
      width: 1160px;
      margin: 0;
      padding: 0 31px;

      /* Временно для сетки */
      min-height: 92px;
}

.examples-brand {
      width: 205px;
      margin: 0;
      padding: 0;

      /* Временно для сетки */
      min-height: 92px;
}

.main-footer {

/* Временно для сетки */
    background: none;
    min-height: 218px;
}

.inner-page .main-footer {
     margin-top: 45px;
}

.main-footer .container {
     display: flex;
}

.footer-social {
     width: 280px;
     margin: 0;
     margin-left: 140px;
    padding: 68px; 0;
     /* Временно для сетки */
     min-height: 86px;

}

/*------Сеточные стили-----*/
body {
    min-width: 1200px;
    min-height: 1100px;
}

.inner-page {
    /* Временно для сетки */
    background-image: url("img/nerds-shop.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
