body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
        background-color: #fb565a;
}

.main-navigation {
     font-size: 16px;
     line-height: 24px;
     color: #000000;

     background-color: #ffffff;
}

.site-navigation,
.user-navigation {
        list-style: none;
}

.site-navigation a,
.user-navigation a {
      color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
       background-color: #242424;
}

.conteiner .button a {
     color: ffffff;

     background: #fb565a;
     background-position: 0 0;

}

.conteiner .button a:hover,
.conteiner .button a:focus {
      color: ffffff;
}



.visually-hidden h1 {
      font-size: 55px;
      line-height: 55px;
}

.index-columns-1 {
     color: #000000;

     background-color: #fb565a;
     background-image: url("img/index-web.svg");
     background-position: 0 0;
     background-repeat: repeat;
}

.index-columns-2 {
     color: #000000;

     background-color: #00ca74;
     background-image: url("img/app.svg");
     background-position: 0 0;
     background-repeat: repeat;
}

.index-columns-3 {
     color: #000000;

     background-color: #efc849;
     background-image: url("img/present.svg");
     background-position: 0 0;
     background-repeat: repeat;
}


.index-columns h3 {
       font-size: 24px;
       line-height: 30px;
}

.info-1 h2 {
      font-size: 45px;
      line-height: 45px;
}

.order-list h3 {
     font-size: 16px;
     line-height: 24px;
}

.order-list {
      color: #9b9fa1;

      background-color: #ffffff;
      background-position: 0 0;
}

.slogan h3 {
      font-size: 16px;
      line-height: 24px;
}

.quality-item {
      color: #000000;
      list-style: none;

      background-color: #ffffff;
      background-position: 0 0;
}

.examples-brand {
      color: #cccccc;

      background-color: #ffffff;
      background-image: url("img/index-logo.svg");
      background-position: 0 0;
      background-repeat: repeat;
}

.examples-brand a {
      color: #cccccc;
}

.examples-brand a:hover,
.examples-brand a:focus,
.examples-brand a:active {
     background-color: #01a25e;
}

.contacts h3 {
     font-size: 18px;
     line-height: 30px;
}

.contacts .button a {
       color: #ffffff;

       background-color: #fb565a;
       background-position: 0 0;
}

.contacts .button a:hover,
.contacts .button a:focus {
      color: #ffffff;
}

.main-footer {
    color: #000000;

    background-color: #ffffff;
    background-image: url("img/map.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.main-footer h1 {
      font-size: 36px;
      line-height: 36px;
}

.footer-social a {
      color: #000000;
      text-decoration: none;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
       text-decoration: none;
}

.footer-social {
      text-align: center;
}

.footer-social ul {
      list-style: none;
}

.social-button {
      color: e1e1e1;
}




body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.inner-page {
     color: #000000;

     background-color: #ffffff;
     background-image: url("img/index-logo.svg");
     background-position: 0 0;
     background-repeat: repeat;
}

a {
    text-decoration: none;
}

.conteiner {
    list-style: none;
}

.conteiner h1 {
     font-size: 55px;
     line-height: 55px;
}

.price h3 {
     font-size: 18px;
     line-height: 30px;
}

index-column {
    color: #ababab;

    background-color: #ffffff;
    background-position: 0 0;
    background-repeat: repeat;
}

.netting h2 {
     font-size: 18px;
     line-height: 30px;
}

.button-adopt a:hover,
.button-fix a:focus,
.button-rubber a:active {
       color: #45bb89;
}

.sorting h2 {
    font-size: 18px;
    line-height: 18px;
}

.item-navigation a:hover,
.item-navigation a:focus,
.item-navigation a:active {
      color: #a6a6a6;
}

.veb-product {
     list-style: none;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
         color: #000000;

         background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
          background-color: #01a25e;
}

.pagination-item-current a {
       color: #000000;

       background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
          color: #000000;

          background-color: #ffffff;
}

.contacts h3 {
     font-size: 18px;
     line-height: 30px;
}

.contacts .button a {
       color: #ffffff;

       background-color: #fb565a;
       background-position: 0 0;
}

.contacts .button a:hover,
.contacts .button a:focus {
      color: #ffffff;
}

.main-footer {
    color: #000000;

    background-color: #ffffff;
    background-image: url("img/map.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.main-footer h1 {
      font-size: 36px;
      line-height: 36px;
}

.footer-social a {
      color: #000000;
      text-decoration: none;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
       text-decoration: none;
}

.footer-social {
      text-align: center;
}

.footer-social ul {
      list-style: none;
}

.social-button {
      color: e1e1e1;
}
